body {
    padding-top: 0px;
    padding-bottom: 0px;
}

body.sidebar-mini {
    font-size: 1.5rem;
}

.navbar-nav .nav-item .nav-link {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-nav > input {
    height: 29px !important;
}

.input-group-text {
    border: 1px solid #ced4da !important;
    min-width: 41px;
}

.input-group > input.form-control {
    border: 1px solid #ced4da !important;
}